[flake8]
# E121 continuation line under-indented for hanging indent
# E125 continuation line with same indent as next logical line
# E203 whitespace before ':'
# E261 at least two spaces before inline comment
# E265 block comment should start with '# '
# F401 'pprint.pprint' imported but unused, CHECKED BY PYLINT
# F841 local variable 'suffix' is assigned to but never used, CHECKED BY PYLINT
# W503 line break before binary operator
ignore=E121,E125,E203,E261,E265,F401,F841,W503
max-line-length=88
# exclude = tests/files/invalid_import.py
