[flake8]
# --- flake8
# E121 continuation line under-indented for hanging indent
# E125 continuation line with same indent as next logical line
# E203 whitespace before ':'
# E261 at least two spaces before inline comment
# E265 block comment should start with '# '
# F401 'pprint.pprint' imported but unused, CHECKED BY PYLINT
# F841 local variable 'suffix' is assigned to but never used, CHECKED BY PYLINT
# W503 line break before binary operator
# N818 exception name 'ElementNotFound' should be named with an Error suffix
# --- flake8-commas
# C812 missing trailing comma
# C813 missing trailing comma in Python 3
# --- flake8-docstrings
# D100 Missing docstring in public module
# D101 Missing docstring in public class
# D102 Missing docstring in public method
# D103 Missing docstring in public function
# D104 Missing docstring in public package
# D105 Missing docstring in magic method
# D107 Missing docstring in __init__
# D106 Missing docstring in public nested class
# --- flake8-string-format
# P101 format string does contain unindexed parameters
# --- flake8-pie
# PIE798 no-unnecessary-class: Consider using a module for namespacing instead
# PIE786 Use precise exception handlers
# PEA001  typing.Match is deprecated, use re.Match instead. # is not possible in py<3.9
# E203 Colons should not have any space before them. # does not work with Black formatting of "foo[(1 + 1) : ]"
ignore=F401,C812,C813,D100,D101,D102,D103,D104,D106,D107,D105,P101,PIE798,PIE786,W503,N818,PEA001,E203
max-line-length=88
inline-quotes = double
max-complexity=10
