*.pyc
*.swp
*.swo
*.orig
*.egg-info/

# setuptools
dist/

# docs
docs/_build
docs-redirect/_build
docs2/build
docs-redirect/_build

# misc
log.html
prof

/log/
/data/
/ghost/
/var/
/.tox/
/script/
/test.py
/many_links_prof
