*.pyc
*.swp
*.swo
*.orig
*.egg-info/

# setuptools
dist/

# misc
log.html
prof
prof.kcache

# google chrome
docs2/libpeerconnection.log
docs/libpeerconnection.log

/log/
/data/
/ghost/
/var/
/.tox/
/.py33
/script/
/test.py
/test2.py
/many_links_prof
/prof.compiled
/.venv/
/settings.py
/spider.py
.idea/
/.coverage
/.env/
/.py27/
/.py34/
/docs/en/build/
/docs/ru/_build/
/build/
/en
/.v4
/settings.py
/foo.py
/run.ini
