language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"

install:
  - pip install -r requirements_dev.txt
  # Deal with issue on Travis builders re: multiprocessing.Queue :(
  - "sudo rm -rf /dev/shm && sudo ln -s /run/shm /dev/shm"
  - python setup.py develop

script:
  - coverage run --source=grab runtest.py --test-all --extra

after_success:
  - coveralls
