language: python

python: 2.7

sudo: required

cache:
  directories:
  - "$HOME/.cache/pip"
  - "$HOME/.pyenv"

branches:
  except:
    - wintest

matrix:
  include:
    - os: linux
      env: TOX_ENV=py27-recent-libcurl
    - os: linux
      python: 3.4
      env: TOX_ENV=qa
    - os: linux
      env: TOX_ENV=py27
    - os: linux
      env: TOX_ENV=py34
    - os: linux
      env: TOX_ENV=py35
      python: 3.5
    - os: linux
      env: TOX_ENV=py36
      python: 3.6
    - os: osx
      language: generic
      env:
        - TOX_ENV=py27
        - PYENV_VERSION="2.7.13"
    - os: osx
      language: generic
      env:
        - TOX_ENV=py34
        - PYENV_VERSION="3.4.6"
    - os: osx
      language: generic
      env:
        - TOX_ENV=py35
        - PYENV_VERSION="3.5.3"
    - os: osx
      language: generic
      env:
        - TOX_ENV=py36
        - PYENV_VERSION="3.6.0"

     # urllib3 transport
    - os: linux
      env: TOX_ENV=py27-urllib3
    - os: linux
      env: TOX_ENV=py34-urllib3
    - os: linux
      env: TOX_ENV=py35-urllib3
      python: 3.5
    - os: linux
      env: TOX_ENV=py36-urllib3
      python: 3.6
    - os: osx
      language: generic
      env:
        - TOX_ENV=py35-urllib3
        - PYENV_VERSION="3.5.3"

    # release
    - os: linux
      env: TOX_ENV=py2-grab-release
    - os: linux
      env: TOX_ENV=py3-grab-release
  exclude:
    - python: 2.7 # hack to exclude default no-env travis job
  allow_failures:
    - env: TOX_ENV=py27-urllib3
    - env: TOX_ENV=py34-urllib3
    - env: TOX_ENV=py35-urllib3
    - env: TOX_ENV=py36-urllib3
    - env:
        - TOX_ENV=py35-urllib3
        - PYENV_VERSION="3.5.3"

# Enable extra mongodb and redis services on linux
# Mysql and postgres services are enabled on linux by default
# That does not work on osx (see below custom instructions for osx)
services:
  - mongodb
  - redis-server

install:
  - |
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      ulimit -n 2048 # by default travis osx has "ulimit -n 256"
      brew update
      brew install mongodb
      sudo mkdir -p /data/db
      brew services start mongodb
      brew install redis
      brew services start redis
      brew install mysql
      brew services start mysql
      brew unlink postgres
      brew install postgres
      export PG_DATA=$(brew --prefix)/var/postgres
      rm -rf $PG_DATA
      initdb $PG_DATA -E utf8
      pg_ctl -w start -l postgres.log --pgdata ${PG_DATA}
      createuser -s postgres
      brew upgrade pyenv
    fi

before_script:
  - mysql -u root -e 'create database grab_test'
  - psql -U postgres -c 'create database grab_test'
  # Override test settings with travis settings 
  - |
    if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      cp travis_linux_settings.py test_settings_local.py
    else
      cp travis_osx_settings.py test_settings_local.py
    fi
  # Install custom pyton version on OSX
  - |
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      if [[ ! -z "$VIRTUAL_ENV" ]]; then deactivate; fi
      eval "$(pyenv init -)"
      pyenv install --skip-existing "$PYENV_VERSION"
      pyenv global "$PYENV_VERSION"
    fi
  - |
    if [[ "$TOX_ENV" == "py27-recent-libcurl" ]]; then
      mkdir $HOME/curl_files
      cd $HOME/curl_files
      pwd
      wget https://curl.haxx.se/download/curl-7.59.0.tar.gz
      tar -xzf curl-7.59.0.tar.gz
      cd curl-7.59.0
      ./configure --prefix=$HOME/curl_lib
      make
      make install
      cd $HOME/build/lorien/grab
    fi
  # Remove APT pycurl packages
  - |
    if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      sudo apt-get remove python-pycurl python3-pycurl;
      sudo apt-get install -y libcurl4-openssl-dev;
    fi
  - python -m pip install -U pip setuptools tox

script:
  # Inject path to recent libcurl library
  - |
    if [[ "$TOX_ENV" == "py27-recent-libcurl" ]]; then
      export LD_LIBRARY_PATH="$HOME/curl_lib/lib"
    fi
  - |
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      export LDFLAGS="-L/usr/local/opt/openssl/lib"
      export CPPFLAGS="-I/usr/local/opt/openssl/include"
      export PYCURL_SSL_LIBRARY=openssl
    fi
  - tox -e $TOX_ENV

after_success:
  - coveralls
