# sub-set of standard grab dependencies
# that could be build on readthedocs service
# The problem is that pycurl, lxml and few other modules could not be built
# thus the grab package is not installed while docs are building
# Also this file is used in `tox -e doc`
pip>=9.0.1
weblib
user_agent
sphinx
