# sub-set of standard grab dependencies
# that could be build on readthedocs service
# The problem is that pycurl and lxml could not be built
# thus the grab package is not installed while docs are building
pip>=9.0.1
weblib
user_agent
