bumpversion
coverage
coveralls
cssselect
feedparser
flake8
item
selenium
test_server
tornado
mock
runscript
pyprof2calltree
urllib3
pyquery;platform_system!="Windows"
lxml;platform_system!="Windows"
pycurl;platform_system!="Windows"
selection;platform_system!="Windows"
