bumpversion
coverage
coveralls
cssselect
feedparser
flake8
item
lxml;platform_system!="Windows"
pycurl;platform_system!="Windows"
pyquery
selection
selenium
test_server
tornado
mock
runscript
pyprof2calltree
urllib3
