bumpversion
coverage
cssselect
feedparser
flake8
selenium
test_server>=0.0.35
mock
runscript
urllib3
pyquery;platform_system!="Windows"
# to fix appveyor
item;platform_system!="Windows"
pylint
psutil
tox
pysocks
certifi
fastrq
