# You probably need these packages
lxml
pycurl==7.19.0
cssselect
jsonpath_rw

# Optional packages required to use some part of Grab
#redis
#qr
#pymongo
#mysql-python
#tornado

# Python3 alternate packages
# mysql:
# https://github.com/davispuh/MySQL-for-Python-3/archive/master.zip
# pycurl:
# https://github.com/lorien/pycurl/archive/master.zip
