{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<script>
    var resultDetails = null;
    var setTimeoutId = null;

    function submitCommand() {
        var spider = $('select#id_spider').val();
        var command = $('select#id_command').val();
        args = {spider: spider, command: command}
        $.get('{% url "grab_control_api" "put_command" %}', args, function(data) {
            $('#result').text('LOADING...');
            if (data.error) {
                alert(data.error);
            } else {
                resultDetails = {spider: spider, result_id: data['result_id']}
                if (setTimeoutId) {
                    clearTimeout(setTimeoutId)
                }
                setTimeoutId = setTimeout(checkResult, 1000);
            }
        }, 'json');
    }

    function checkResult() {
        $.get('{% url "grab_control_api" "pop_result" %}', resultDetails, function(data) {
            if (data.error) {
                alert(data.error);
            } else {
                if (data.status == 'not-ready') {
                    setTimeoutId = setTimeout(checkResult, 1000);
                } else {
                    $('#result').text(data.data);
                }
            }
        });
    }

    function stopAjax() {
        if (setTimeoutId) {
            clearTimeout(setTimeoutId);
        }
    }
</script>

<h1>Grab Spider control form</h1>
<input type="button" onclick="stopAjax(); return false" value="Stop AJAX activity" />
<br><br>
<hr>
<br>
<form method="get">
    {{ form.as_p }}
    <p>
        <input type="submit" onclick="submitCommand(); return false;" />
    </p>
</form>
<h4>Result:</h4>
<pre id="result">
</pre>
{% endblock %}
